@charset "UTF-8";

body{
    background-color: #f0f8ff ;
}

div{
    display: inline-block;
    background-color: #CFD5E8;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
background-color: yellow;

}
.a{
    height: auto;
    width: auto;
    background-color: #f0f8ff;
    border: 0cm;
    
}