
*{
    margin: 0;
    padding: 0;
}

.numero{
    text-align: right;
}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}
thead>tr>th{
    position: sticky;
    top:-1px;
    background-color: gray;

}

thead,tfoot{
    background-color:gray;
    color: white;
}
td,th{

    border:solid black 1px;
    text-transform: capitalize;
    padding: 10px;
}
tbody > tr:nth-child(2n){
    background-color: aliceblue;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
}