body{
    background-image: url(https://64.media.tumblr.com/6971dcffb85e56a200d36ec0444b95c1/f3e5fa1cf83605b4-3d/s1280x1920/f3dd9fdecead60161991654c6a2114421d922546.gifv);
    background-size: auto;
    background-repeat: repeat;

}

